<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
  <connectionStrings>
    <add name="ReflectionConnectionString"
        connectionString="Data Source=davit\SQLEXPRESS;Initial Catalog=Reflection;Integrated Security=True"
        providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>